<div class="modal-body">
    <div class="comm-mod5 comm-mod5-ex3">
        <div class="mod-hd">
            {{#if idAdd}}
                <h2 class="tit">添加拍卖</h2>
            {{else}}
                <h2 class="tit">编辑拍卖</h2>
            {{/if}}
        </div>
        <div class="mod-bd">
            <div class="comm-table2 comm-table2-ex3">
                <form id="J_Dialog_Form">
                <input type="hidden" name="id" value="{{id}}">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>主题：</th>
                        <td><div class="form-group form-group-inline">
                            <input type="text" class="form-control form-control-w45" name="title" value="{{title}}" autocomplete="off" maxlength="300">
                        </div></td>
                    </tr>
                    <tr>
                        <th>详情：</th>
                        <td><div class="form-group">
                            <textarea class="form-control form-control-w45" rows="3" name="details" maxlength="1500">{{details}}</textarea>
                        </div></td>
                    </tr>
                    <tr>
                        <th>开始时间：</th>
                        <td><div class="td-box">
                            <div class="form-group form-group-inline">
                                <input class="form-control form-control-date form-control-w16" name="startTime" id="J_Dialog_StartTime" value="{{startTime}}" readonly style="cursor: pointer;">
                            </div>
                            <div class="td-box-r">
                                <div class="form-group form-group-inline" style="margin-right:55px;">
                                    <label>竞拍模式时间：</label>
                                    <input class="form-control form-control-date form-control-w16" name="auctionTime" id="J_Dialog_AuctionTime" value="{{auctionTime}}" readonly style="cursor: pointer;">
                                </div>
                            </div>
                        </div></td>
                    </tr>
                    <tr>
                        <th>场次：</th>
                        <td>
                            <div class="form-group form-group-inline">
                                <span class="radio-s"><label class="radio-inline"><input type="radio" name="base" value="3" {{#judge base "3"}}checked{{/judge}}> 全部 </label></span>
                                <span class="radio-s"><label class="radio-inline"><input type="radio" name="base" value="1" {{#judge base "1"}}checked{{/judge}}> 福州 </label></span>
                                <span class="radio-s"><label class="radio-inline"><input type="radio" name="base" value="2" {{#judge base "2"}}checked{{/judge}}> 北京 </label></span>
                            </div>
                            <span class="help-block"><span class="c-red">注：结束时间会根据物品数以及竞拍模式时间自动计算</span></span>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="form-group form-group-inline"><p class="validatorError help-block"></p></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>