{{#each listData}}
    <div class="comm-table table-operate mt20">
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td><div class="text">
                    <h2>{{title}}</h2>
                    <div class="tit"><span class="jp">奖品数：{{awardCount}}</span><span class="name">{{createUsername}}</span><span class="time">{{fdate createTime}}</span></div>
                    <p class="con">{{details}}</p>
                </div>
                    <div class="control-box-c2">
                        <div class="top-box-c2">
                            <button class="btn btn5 btn-s {{getBtnStatus auctionState startTime 'edit'}}" data-id="{{id}}" data-role="edit">编辑基本信息</button>
                            <button class="btn btn5 btn-s {{getBtnStatus auctionState startTime 'manage'}}" data-id="{{id}}" data-role="manage">管理奖品</button>
                            <button class="btn btn5 btn-s {{getBtnStatus auctionState startTime 'get'}}" data-id="{{id}}" data-role="get" >查看竞拍结果</button>
                            <button class="btn btn5 btn-s {{getBtnStatus auctionState startTime 'del'}}" data-id="{{id}}" data-role="del" >删除</button>
                        </div>
                    </div></td>
                <td class="zhuangtai"><div>
                    <p>· 状态： {{{getState auctionState}}}</p>
                    <p>· 开始时间： <span class="c-red">{{fdate startTime}}</span></p>
                    <p>· 竞拍模式时间：<span class="c-red">{{fdate auctionTime}}</span></p>
                    <p>· 预计结束时间：{{fdate endTime}}</p>
                </div></td>
            </tr>
            </tbody>
        </table>
    </div>
{{/each}}