<div class="mod-hd">
    {{#if isEdit}}
        <h2 class="tit">编辑物品</h2>
    {{else}}
        <h2 class="tit">添加物品</h2>
    {{/if}}
</div>
<div class="mod-bd">
    <div class="comm-table2 comm-table2-ex3">
        <form id="J_AwardForm">
        <table class="table">
            <tbody>
            <tr>
                <th>名称：</th>
                <td><div class="form-group form-group-inline">
                    <input type="text" class="form-control form-control-w28" name="name" maxlength="300" value="{{name}}">
                    <input type="hidden" name="auctionId" value="{{auctionId}}">
                    <input type="hidden" name="id" value="{{id}}">
                </div></td>
            </tr>
            <tr>
                <th>描述：</th>
                <td><div class="form-group">
                    <textarea class="form-control form-control-w28" rows="3" name="description" maxlength="1500">{{description}}</textarea>
                </div></td>
            </tr>
            <tr>
                <th>图片：</th>
                <td>
                    <div class="form-group form-group-inline">
                        <input type="text" class="form-control form-control-w2" name="image" value="{{image}}" readonly>
                        <button type="button" class="btn btn2 btn-s3" id="J_AwardForm_Upload">上传</button>
                    </div>
                    <p>图片建议尺寸308*216，最大100K</p>
                </td>
            </tr>
            <tr>
                <th>价格：</th>
                <td><div class="form-group form-group-inline">
                    <input type="text" class="form-control form-control-w12" name="price" value="{{price}}"> 元
                </div></td>
            </tr>
            {{#unless isEdit}}
            <tr>
                <th>物品数：</th>
                <td><div class="form-group">
                    <input type="text" class="form-control form-control-w12" name="awardNum" value="{{awardNum}}">
                </div></td>
            </tr>
            {{/unless}}
            <tr>
                <th></th>
                <td>
                    <div class="form-group form-group-inline"><p class="validatorError help-block"></p></div>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
<div class="modal-footer form-group mt20">
    {{#if isEdit}}
        <button type="button" class="btn btn2" id="J_AwardForm_Save">确定</button>
        <button type="button" class="btn btn2" id="J_AwardForm_Cancel">取消</button>
    {{else}}
        <button type="button" class="btn btn2" id="J_AwardForm_Add">添加</button>
        <span class="btn btn3 control-box-c2" id="J_AwardForm_Imports" data-auctionId="{{auctionId}}">批量添加</span>
    {{/if}}
</div>