<div class="mod-hd">
    <h2 class="tit">物品列表</h2>
    <button type="button" class="btn btn2 btn-sm" id="J_Sort">排序</button>
</div>
<div class="mod-bd">
    <div class="tab-xxgl-con">
        <ul class="wuping-list">
            {{#each this}}
                <li class="item">
                    <div class="pic">
                        <div class="pic"><img src="{{getImage image}}" width="120" height="120" alt=""></div>
                    </div>
                    <div class="text">
                        <h3 class="tit">{{name}}<span class="money">￥{{price}}</span></h3>
                        <p class="con">{{description}}</p>
                    </div>
                    <div class="button">
                        <div class="top-box-c2">
                            <button class="btn btn5 btn-s" data-role="edit" data-id="{{id}}">编辑</button>
                        </div>
                        <div class="top-box-c2 mt10">
                            <button class="btn btn5 btn-s" data-role="del" data-id="{{id}}">删除</button>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>