<div class="mygift-box">
    <ul class="list-grounp clearfix">
        {{#each listData}}
            <li class="goods-item" data-awardid="{{id}}">
                <a href="javascript:;" class="pic" data-role="get">
                    <span class="pic-c1">
                        <img src="{{getImage image}}" width="217" height="153" alt="">
                    </span>
                    <span class="pic-c2">
                        <span class="clearfix">
                            <span class="name" title="{{name}}">{{name}}</span>
                            <span class="jiage">￥ {{price}}</span>
                        </span>
                        <b class="mask"></b>
                    </span>
                </a>
                <div class="text">
                    <div class="text-c1">{{description}}</div>
                    <div class="mygift-txt-c2">
                        <p class="cost">消费积分：{{winScore}}</p>
                        <p class="szpm">所属拍卖：<a href="/history/detail/{{auctionId}}.htm" title="{{auctionName}}">{{auctionName}}</a></p>
                    </div>
                </div>
                <div class="mygift-jpxq">
                    <a href="javascript:;" data-role="get">竞拍详情</a>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<ul class="pagination" id="J_Page"></ul>