{{#judge this.length 0}}
    <tr>
        <td colspan="4" style="text-align: center;">
            暂无数据
        </td>
    </tr>
{{else}}
    {{#each this}}
        <tr class="{{getClass @index my}}">
            <td><em class="xt">{{rank}}</em></td>
            <td>{{userName}}</td>
            <td>{{department}}</td>
            <td>{{scoreForShow}}</td>
        </tr>
    {{/each}}
{{/judge}}