{{#judge ctrlState 1}}
    <div class="gz-xq">
        <div class="gz-xq-in">
            该物品流拍
        </div>
    </div>
{{/judge}}
{{#judge ctrlState 2}}
    <div class="gz-xq">
        <div class="gz-xq-in">
            物品由<strong>{{awardLeaderName}}</strong>竞拍成功^_^
        </div>
    </div>
{{/judge}}
{{#judge ctrlState 3}}
    <div class="gz-xq">
        <div class="gz-xq-in">
            <div class="fs14">您的积分不够，无法参与该物品竞拍%&gt;_&lt;%</div>
        </div>
    </div>
{{/judge}}
{{#judge ctrlState 4}}
    <div class="gz-xq chujia">
        <form class="form-inline" onsubmit="return false;" id="J_Form_{{awardId}}" data-awardid="{{awardId}}">
            <div class="form-group">
                <label class="col-sm-2 control-label">出价：</label>
                <input type="text" class="form-control J_Input" autocomplete="off" maxlength="10" name="score">
            </div>
            <input type="hidden" name="awardId" value="{{awardId}}">
            <input type="hidden" name="auctionId" value="{{auctionId}}">
            <button type="button" class="btn btn-default J_Save" disabled>确定</button>
        </form>
        <button class="btn allin-btn J_AllIn">ALL IN</button>
    </div>
{{/judge}}
{{#judge ctrlState 5}}
    <div class="gz-xq">
        <div class="gz-xq-in">
            <div class="fs14">您已领拍，无法参与该物品竞拍%&gt;_&lt;%</div>
        </div>
    </div>
{{/judge}}
{{#judge ctrlState 6}}
    <div class="gz-xq allin"></div>
{{/judge}}
