{{#judge listData.length 0}}
    <tr><td colspan="5" style="text-align: center;">暂无竞拍记录</td></tr>
{{else}}
    {{#each listData}}
        <tr>
            <td>{{name}}</td>
            <td>{{department}}</td>
            <td>{{score}}</td>
            <td>{{fExactDate createTime}}</td>
            <td>{{userScore}}</td>
        </tr>
    {{/each}}
{{/judge}}