<span class="ico ico-cj"></span>
<span class="tt">
    <span class="tt-c" title="{{leaderName}} [{{leaderDepartment}}]">{{leaderName}} [{{leaderDepartment}}]</span>
    <span class="tt-c">出价：{{leaderScore}}</span>
</span>