{{#judge this.length 0}}
    暂无记录
{{else}}
    {{#each this}}
        <li class="goods-item" id="{{id}}" data-awardid="{{id}}">
            <a href="javascript:;" class="pic" data-role="get">
                <span class="pic-c1">
                    <img src="{{getImage image}}" width="217" height="153" alt="">
                </span>
                <span class="pic-c2">
                    <span class="clearfix">
                        <span class="name" title="{{name}}">{{name}}</span>
                        <span class="jiage">￥{{price}}</span>
                    </span>
                    <b class="mask"></b>
                </span>
                <span class="pic-c3">
                    <i class="ico ico-gz"></i>{{focusNum}}
                </span>
            </a>
            <div class="text">
                <div class="text-c1" title="{{description}}">{{description}}</div>
                {{#if leaderUserno}}
                    <div class="text-c2 J_Info">
                        <span class="ico ico-cj"></span>
                        <span class="tt">
                            <span class="tt-c" title="{{leaderName}} [{{leaderDepartment}}]">{{leaderName}} [{{leaderDepartment}}]</span>
                            <span class="tt-c">出价：{{leaderScore}}</span>
                        </span>
                    </div>
                {{else}}
                    <div class="text-c2 J_Info">暂无人问津</div>
                {{/if}}
            </div>
            <div class="gz-xq">
                <div class="gz-xq-in">
                    {{#judge focusId 0}}
                        <a href="javascript:;" class="yigz" data-role="follow" data-action="on"><i class="ico ico-eye"></i>关注</a>
                        <a href="javascript:;" data-role="follow" data-action="off" style="display: none;">取消关注</a>
                    {{else}}
                        <a href="javascript:;" class="yigz" data-role="follow" data-action="on" style="display: none;"><i class="ico ico-eye"></i>关注</a>
                        <a href="javascript:;" data-role="follow" data-action="off">取消关注</a>
                    {{/judge}}
                    <span class="sep">|</span>
                    <a href="javascript:;" data-role="get">竞拍详情</a>
                </div>
            </div>
        </li>
    {{/each}}
{{/judge}}