<div class="user-detail-in">
    <div class="pic-box"><img src="{{getAvatar avatar gender}}" alt=""></div>
    <div class="detail">
        <p>{{name}} | {{userno}} | {{department}}</p>
        <p class="jf-box">
            <span title="可用积分"><i class="ico ico-stars"></i>{{score}}</span>
            <span title="消费积分"><i class="ico ico-moneys"></i>{{usedScore}}</span>
            <span title="荣誉积分"><i class="ico ico-jfs"></i>{{totalScore}}</span>
        </p>
    </div>
</div>