<div class="modal-body">
    <div class="comm-mod5">
        <div class="mod-hd"><h2 class="tit">{{title}}积分</h2></div>
        <div class="mod-bd">
            <div class="comm-table2">
                <form id="J_Form">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{title}}用户：</th>
                            <td class="con"><span class="strong">{{name}}</span>({{userno}})</td>
                            <input type="hidden" name="userno" value="{{userno}}">
                        </tr>
                        <tr>
                            <th>积分数：</th>
                            <td>
                                <div class="form-group form-group-inline">
                                    <input type="text" name="scorenum" class="form-control form-control-w24">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>{{title}}理由：</th>
                            <td>
                                <div class="form-group">
                                    <textarea class="form-control form-control-w24" rows="3" name="comments"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>