{{#judge listData.length 0}}
    <tr>
        <td colspan="9" style="height: 100px; line-height: 100px; text-align: center;">
            暂无记录
        </td>
    </tr>
{{else}}
    {{#each listData}}
        <tr data-userno="{{userno}}" data-name="{{name}}" data-score="{{score}}" >
            <td>{{name}}</td>
            <td>{{userno}}</td>
            {{#judge gender "1"}}
                <td>男</td>
            {{else}}
                <td>女</td>
            {{/judge}}
            <td>{{department}}</td>
            <td>{{position}}</td>
            <td>{{totalScore}}</td>
            <td>{{score}}</td>
            <td>{{usedScore}}</td>
            <td>
                <div class="operate-box1">
                    {{#judge score 0}}
                        <button type="button" class="btn btn-add" data-role="add" title="授予积分"></button>
                    {{else}}
                        <button type="button" class="btn btn-add" data-role="add" title="授予积分"></button>
                        <button type="button" class="btn btn-reduce" data-role="deduct" title="扣除积分"></button>
                    {{/judge}}
                </div>
            </td>
        </tr>
    {{/each}}
{{/judge}}